In [1]:
%load_ext autoreload
%autoreload 2

In [4]:
from src.services_generator.entities import ServiceGenerator
from pathlib import Path

In [5]:
# TODO: current timetable is not complete

config_path = Path("../configs/service_generator_config.yml")

r = ServiceGenerator(stations=Path("../data/renfe/renfe_stations.csv"),
                     corridors=Path("../data/renfe/corridors.csv"),
                     seats=Path("../data/renfe/seats.csv"),
                     timetable=Path("../data/renfe/timetable.csv"),
                     rolling_stocks=Path("../data/renfe/rollingstocks.csv"),
                     tsps=Path("../data/renfe/tsps.csv"))

services = r.generate(file_name=Path("../data/test_new.yml"),
                      path_config=config_path, n_services=1, seed=1)

print(services[0])

Service id: 60000_71500_10111100_6:6_10
	Date of service: 2023-03-23
	Stops: ['60000', '70600', '04040', '78400', '71500']
	Line times (relative): [(0.0, 0.0), (31.2, 34.2), (49.8, 52.8), (68.4, 71.4), (87.0, 90.0)]
	Line times (absolute): [('06:06', '06:06'), ('06:37', '06:40'), ('06:55', '06:58'), ('07:14', '07:17'), ('07:33', '07:36')]
	Train Service Provider: [4, IRYO, [41, 42]]
	Time Slot: [6:6_10, 6:06:00, 6:16:00, 6:11:00, 0:10:00]
	Rolling Stock: [41, IRYO RollingStock 1, {1: 300, 2: 50}]
	Prices:
		('60000', '70600'): {Turista: '18.08', Turista Plus: '21.69', Premium: '28.93'}
		('60000', '04040'): {Turista: '21.22', Turista Plus: '25.46', Premium: '33.95'}
		('60000', '78400'): {Turista: '26.42', Turista Plus: '31.7', Premium: '42.27'}
		('60000', '71500'): {Turista: '28.07', Turista Plus: '33.68', Premium: '44.9'}
		('70600', '04040'): {Turista: '12.14', Turista Plus: '14.57', Premium: '19.42'}
		('70600', '78400'): {Turista: '17.62', Turista Plus: '21.15', Premium: '28.2'}
		('70600', '71500'): {Turista: '19.95', Turista Plus: '23.93', Premium: '31.91'}
		('04040', '78400'): {Turista: '14.78', Turista Plus: '17.73', Premium: '23.64'}
		('04040', '71500'): {Turista: '17.58', Turista Plus: '21.09', Premium: '28.12'}
		('78400', '71500'): {Turista: '12.45', Turista Plus: '14.94', Premium: '19.92'}
	Tickets sold (seats): {Premium: 0, Turista Plus: 0, Turista: 0}
	Tickets sold (hard type): {1: 0, 2: 0}
	Tickets sold per each pair (seats): {('60000', '70600'): {Premium: 0, Turista Plus: 0, Turista: 0}, ('60000', '04040'): {Premium: 0, Turista Plus: 0, Turista: 0}, ('60000', '78400'): {Premium: 0, Turista Plus: 0, Turista: 0}, ('60000', '71500'): {Premium: 0, Turista Plus: 0, Turista: 0}, ('70600', '04040'): {Premium: 0, Turista Plus: 0, Turista: 0}, ('70600', '78400'): {Premium: 0, Turista Plus: 0, Turista: 0}, ('70600', '71500'): {Premium: 0, Turista Plus: 0, Turista: 0}, ('04040', '78400'): {Premium: 0, Turista Plus: 0, Turista: 0}, ('04040', '71500'): {Premium: 0, Turista Plus: 0, Turista: 0}, ('78400', '71500'): {Premium: 0, Turista Plus: 0, Turista: 0}}
	Tickets sold per each pair (hard type): {('60000', '70600'): {2: 0, 1: 0}, ('60000', '04040'): {2: 0, 1: 0}, ('60000', '78400'): {2: 0, 1: 0}, ('60000', '71500'): {2: 0, 1: 0}, ('70600', '04040'): {2: 0, 1: 0}, ('70600', '78400'): {2: 0, 1: 0}, ('70600', '71500'): {2: 0, 1: 0}, ('04040', '78400'): {2: 0, 1: 0}, ('04040', '71500'): {2: 0, 1: 0}, ('78400', '71500'): {2: 0, 1: 0}}
	Capacity constraints: None

In [18]:
import pandas as pd

df_stops = pd.read_csv('stops_HSR_Spain_March_24.csv', dtype={'stop_id': str})
df_stops

                   service_id stop_id  arrival  departure
0      06301_01-03-2024-06.15   60000        0          0
1      06301_01-03-2024-06.15   71801      150        150
2      03063_01-03-2024-06.30   60000        0          0
3      03063_01-03-2024-06.30   70600       55         56
4      03063_01-03-2024-06.30   04040       81         82
...                       ...     ...      ...        ...
26241  05217_31-03-2024-21.04   00000        0          0
26242  05217_31-03-2024-21.04   03309       19         21
26243  05217_31-03-2024-21.04   60600       53         55
26244  05217_31-03-2024-21.04   70101       88         90
26245  05217_31-03-2024-21.04   60000      154        154

[26246 rows x 4 columns]

In [22]:
# Group by service_id and get set of trips (list of values in stop_id column for each group)
grouped_df = df_stops.groupby('service_id')

trips = set([tuple(group['stop_id']) for name, group in grouped_df])
trips

{('00000', '03309', '60600', '60000'),
 ('00000', '03309', '60600', '70101', '60000'),
 ('00000', '03309', '60600', '70101', '60000', '10600', '14100', '10500'),
 ('00000',
  '03309',
  '60600',
  '70101',
  '60000',
  '12100',
  '10600',
  '14100',
  '14223'),
 ('00000',
  '10500',
  '51300',
  '14100',
  '10600',
  '12100',
  '60000',
  '70101',
  '65000'),
 ('00000',
  '10500',
  '51300',
  '14100',
  '10600',
  '60000',
  '70101',
  '60600',
  '03309'),
 ('00000',
  '10500',
  '65000',
  '03213',
  '70101',
  '60000',
  '12100',
  '10600',
  '14100',
  '51300'),
 ('00000', '14100', '10600', '12100', '60000'),
 ('00000', '14100', '10600', '60000'),
 ('00000', '14100', '10600', '60000', '70101', '60600'),
 ('00000', '60000'),
 ('00000', '60400', '11200', '11014', '10600', '12100', '60000'),
 ('00000', '60600', '60000'),
 ('00000', '60600', '70101', '60000', '10600', '14100'),
 ('00000', '60600', '70101', '60000', '30200', '22100'),
 ('00000', '65000', '03213', '70101', '60000'),
 ('00000',
  '65000',
  '03213',
  '70101',
  '60000',
  '12100',
  '10600',
  '14100',
  '51300',
  '10500'),
 ('00000', '70101', '51400', '51300', '37704', '60000'),
 ('00000', '70101', '51400', '51300', '51003', '37300', '37200', '60000'),
 ('00000', '70101', '51400', '51300', '60000'),
 ('04307', '79300', '71801', '04040', '60000'),
 ('04307', '79300', '71801', '60000'),
 ('04307', '79300', '71801', '71500', '78400', '04040', '60000'),
 ('04307', '79300', '71801', '71500', '78400', '04040', '70600', '60000'),
 ('05000', '00000', '03410', '02003', '37300', '37200', '60000'),
 ('05000', '03410', '02003', '00000', '60000'),
 ('05000', '03410', '02003', '02002', '00000', '60000'),
 ('08223', '23004', '22100', '30200', '60000'),
 ('08223', '23004', '22100', '31412', '31200', '30200', '60000'),
 ('08223',
  '23004',
  '60400',
  '22100',
  '31412',
  '31200',
  '30200',
  '10500',
  '12100',
  '60000'),
 ('08223', '23004', '60400', '31400', '22100', '30200', '60000'),
 ('11014', '10600', '60000', '65000'),
 ('13200', '00000', '11200', '11014', '10600', '12100', '60000'),
 ('14223',
  '00000',
  '60400',
  '14100',
  '10600',
  '12100',
  '60000',
  '70101',
  '60600',
  '03309'),
 ('21010', '00000', '31412', '31400', '22100', '30200', '60000'),
 ('21010',
  '00000',
  '31412',
  '31400',
  '22100',
  '31200',
  '30200',
  '10500',
  '12100',
  '60000'),
 ('22100', '30200', '60000', '70101', '60600', '00000'),
 ('31412', '31400', '22100', '30200', '60000'),
 ('54413', '00000', '37300', '37200', '60000'),
 ('54413', '00000', '60000'),
 ('54413', '02003', '00000', '37300', '37200', '60000'),
 ('54413', '02003', '00000', '60000'),
 ('54413', '02003', '02002', '00000', '37300', '37200', '60000'),
 ('54413', '02003', '02002', '00000', '37704', '37300', '37200', '60000'),
 ('54413', '02003', '02002', '00000', '60000'),
 ('54413', '60000'),
 ('60000', '00000'),
 ('60000', '00000', '02002', '02003', '03410', '05000'),
 ('60000', '00000', '02002', '02003', '54413'),
 ('60000', '00000', '02003', '03410', '05000'),
 ('60000', '00000', '02003', '54413'),
 ('60000', '00000', '54413'),
 ('60000', '04040', '71500', '71801'),
 ('60000', '04040', '71801'),
 ('60000', '04040', '71801', '79300', '04307'),
 ('60000', '04040', '78400', '71500', '71801', '79300', '04307'),
 ('60000', '04040', '78400', '71801'),
 ('60000', '04040', '78400', '71801', '79300', '04307'),
 ('60000', '10600', '11014', '11200', '00000', '60400'),
 ('60000', '10600', '14100', '00000'),
 ('60000',
  '12100',
  '10500',
  '30200',
  '31200',
  '31412',
  '22100',
  '23004',
  '08223'),
 ('60000',
  '12100',
  '10500',
  '30200',
  '31200',
  '31412',
  '22100',
  '31400',
  '00000',
  '21010'),
 ('60000', '12100', '10600', '11014', '11200', '00000', '13200'),
 ('60000', '12100', '10600', '11014', '11200', '00000', '60400'),
 ('60000', '12100', '10600', '14100', '00000'),
 ('60000', '12100', '10600', '14100', '00000', '51300', '10500'),
 ('60000', '30200', '22100', '23004', '08223'),
 ('60000', '30200', '22100', '31400', '31412'),
 ('60000', '30200', '22100', '31400', '31412', '00000', '21010'),
 ('60000', '30200', '22100', '60400', '23004', '08223'),
 ('60000',
  '30200',
  '31200',
  '31412',
  '22100',
  '31400',
  '60400',
  '23004',
  '08223'),
 ('60000', '37200', '37300', '00000', '02002', '02003', '54413'),
 ('60000', '37200', '37300', '00000', '02003', '54413'),
 ('60000', '37200', '37300', '00000', '03410', '05000'),
 ('60000', '37200', '37300', '00000', '51003', '51300', '51400', '70101'),
 ('60000', '37200', '37300', '37704', '00000', '02002', '02003', '54413'),
 ('60000',
  '37200',
  '37300',
  '37704',
  '00000',
  '51003',
  '51300',
  '51400',
  '70101'),
 ('60000', '51300', '51400', '70101', '00000'),
 ('60000', '54413'),
 ('60000', '60600', '00000'),
 ('60000', '60600', '03309', '00000'),
 ('60000', '70101', '03213', '65000', '00000'),
 ('60000', '70101', '60600', '00000'),
 ('60000', '70101', '60600', '03309', '00000'),
 ('60000', '70101', '60600', '03309', '00000', '03410', '62002', '61200'),
 ('60000',
  '70200',
  '04040',
  '71500',
  '71801',
  '79300',
  '04307',
  '87374',
  '87088',
  '87173',
  '87302',
  '87814',
  '87912',
  '87089'),
 ('60000', '70200', '04040', '78400', '71500', '71801'),
 ('60000', '70200', '04040', '78400', '71500', '71801', '79300', '04307'),
 ('60000', '70200', '70600', '04040', '78200', '74200'),
 ('60000', '70200', '70600', '04040', '78400', '71500', '71801'),
 ('60000',
  '70200',
  '70600',
  '04040',
  '78400',
  '71500',
  '71801',
  '79300',
  '04307'),
 ('60000', '70600', '04040', '71801'),
 ('60000', '70600', '04040', '71801', '79300', '04307'),
 ('60000', '70600', '04040', '78400', '71500', '71801'),
 ('60000', '71801'),
 ('60000', '71801', '79300', '04307'),
 ('61200', '62002', '03410', '00000', '03309', '60600', '70101', '60000'),
 ('65000', '60000', '10600', '11014'),
 ('71801', '04040', '60000'),
 ('71801', '60000'),
 ('71801', '71500', '78400', '04040', '70200', '60000'),
 ('71801', '71500', '78400', '04040', '70600', '60000'),
 ('71801', '71500', '78400', '04040', '70600', '70200', '60000'),
 ('74200', '78200', '04040', '70600', '70200', '60000'),
 ('87089',
  '87912',
  '87814',
  '87302',
  '87173',
  '87088',
  '87374',
  '04307',
  '79300',
  '71801',
  '71500',
  '04040',
  '60000')}

In [23]:
len(trips)

105