# Generate Supply (From date 2023-03-20 to 2023-12-27 to match demand data)

- Generated supply data is saved in data/network_data.yml

In [1]:
from src.data_generator.service_generator import ServiceGenerator

file_name = "../data/network_data.yml"
path_config = "../src/data_generator/config.yml"
n_services = 100
seed = 1

ServiceGenerator().generate(file_name = file_name,
                            path_config = path_config,
                            n_services = n_services,
                            seed = seed)

[<src.robin.supply.entities.Service at 0x7fee7b2b51c0>,
 <src.robin.supply.entities.Service at 0x7fee7b2b52b0>,
 <src.robin.supply.entities.Service at 0x7fee7b2b5760>,
 <src.robin.supply.entities.Service at 0x7fee7b2b5370>,
 <src.robin.supply.entities.Service at 0x7fee7b2b5c10>,
 <src.robin.supply.entities.Service at 0x7fee7b2b51f0>,
 <src.robin.supply.entities.Service at 0x7fee7b2a45e0>,
 <src.robin.supply.entities.Service at 0x7fee7b261eb0>,
 <src.robin.supply.entities.Service at 0x7fee7b261fa0>,
 <src.robin.supply.entities.Service at 0x7fee7b2ba670>,
 <src.robin.supply.entities.Service at 0x7fee7b2ba5e0>,
 <src.robin.supply.entities.Service at 0x7fee7b2ba880>,
 <src.robin.supply.entities.Service at 0x7fee7b2babe0>,
 <src.robin.supply.entities.Service at 0x7fee7b2badc0>,
 <src.robin.supply.entities.Service at 0x7fee7b2e32e0>,
 <src.robin.supply.entities.Service at 0x7fee7b2e3880>,
 <src.robin.supply.entities.Service at 0x7fee7b2e39a0>,
 <src.robin.supply.entities.Service at 0x7fee7b2e3d00>,
 <src.robin.supply.entities.Service at 0x7fee7b2f01c0>,
 <src.robin.supply.entities.Service at 0x7fee7b2f02b0>,
 <src.robin.supply.entities.Service at 0x7fee7b2f06d0>,
 <src.robin.supply.entities.Service at 0x7fee7b2f0a30>,
 <src.robin.supply.entities.Service at 0x7fee7b2f0fa0>,
 <src.robin.supply.entities.Service at 0x7fee7b3020d0>,
 <src.robin.supply.entities.Service at 0x7fee7b302520>,
 <src.robin.supply.entities.Service at 0x7fee7b302700>,
 <src.robin.supply.entities.Service at 0x7fee7b302a60>,
 <src.robin.supply.entities.Service at 0x7fee7b302dc0>,
 <src.robin.supply.entities.Service at 0x7fee7b30e100>,
 <src.robin.supply.entities.Service at 0x7fee7b30e400>,
 <src.robin.supply.entities.Service at 0x7fee7b30e880>,
 <src.robin.supply.entities.Service at 0x7fee7b30ec40>,
 <src.robin.supply.entities.Service at 0x7fee7b30efa0>,
 <src.robin.supply.entities.Service at 0x7fee7b321280>,
 <src.robin.supply.entities.Service at 0x7fee7b3215e0>,
 <src.robin.supply.entities.Service at 0x7fee7b321b20>,
 <src.robin.supply.entities.Service at 0x7fee7b321c70>,
 <src.robin.supply.entities.Service at 0x7fee7b321fa0>,
 <src.robin.supply.entities.Service at 0x7fee7b32f460>,
 <src.robin.supply.entities.Service at 0x7fee7b32f550>,
 <src.robin.supply.entities.Service at 0x7fee7b32f9d0>,
 <src.robin.supply.entities.Service at 0x7fee7b32fd30>,
 <src.robin.supply.entities.Service at 0x7fee7b341070>,
 <src.robin.supply.entities.Service at 0x7fee7b3415b0>,
 <src.robin.supply.entities.Service at 0x7fee7b341730>,
 <src.robin.supply.entities.Service at 0x7fee7b341a30>,
 <src.robin.supply.entities.Service at 0x7fee7b341d30>,
 <src.robin.supply.entities.Service at 0x7fee7b34f1f0>,
 <src.robin.supply.entities.Service at 0x7fee7b34f340>,
 <src.robin.supply.entities.Service at 0x7fee7b34f640>,
 <src.robin.supply.entities.Service at 0x7fee7b34fc70>,
 <src.robin.supply.entities.Service at 0x7fee7b34ff70>,
 <src.robin.supply.entities.Service at 0x7fee7b35f2b0>,
 <src.robin.supply.entities.Service at 0x7fee7b35f5b0>,
 <src.robin.supply.entities.Service at 0x7fee7b35f700>,
 <src.robin.supply.entities.Service at 0x7fee7b35fa60>,
 <src.robin.supply.entities.Service at 0x7fee7b35fd60>,
 <src.robin.supply.entities.Service at 0x7fee7b36c160>,
 <src.robin.supply.entities.Service at 0x7fee7b36c6a0>,
 <src.robin.supply.entities.Service at 0x7fee7b36c7f0>,
 <src.robin.supply.entities.Service at 0x7fee7b36cb80>,
 <src.robin.supply.entities.Service at 0x7fee7b36cf40>,
 <src.robin.supply.entities.Service at 0x7fee7b37e2b0>,
 <src.robin.supply.entities.Service at 0x7fee7b37e640>,
 <src.robin.supply.entities.Service at 0x7fee7b37e940>,
 <src.robin.supply.entities.Service at 0x7fee7b37eca0>,
 <src.robin.supply.entities.Service at 0x7fee7b37ef10>,
 <src.robin.supply.entities.Service at 0x7fee7b38c310>,
 <src.robin.supply.entities.Service at 0x7fee7b38c610>,
 <src.robin.supply.entities.Service at 0x7fee7b38c9d0>,
 <src.robin.supply.entities.Service at 0x7fee7b38cc70>,
 <src.robin.supply.entities.Service at 0x7fee7b39e070>,
 <src.robin.supply.entities.Service at 0x7fee7b39e400>,
 <src.robin.supply.entities.Service at 0x7fee7b39e820>,
 <src.robin.supply.entities.Service at 0x7fee7b39eb50>,
 <src.robin.supply.entities.Service at 0x7fee7b39ee50>,
 <src.robin.supply.entities.Service at 0x7fee7b3ac280>,
 <src.robin.supply.entities.Service at 0x7fee7b3ac550>,
 <src.robin.supply.entities.Service at 0x7fee7b3ac850>,
 <src.robin.supply.entities.Service at 0x7fee7b3acc10>,
 <src.robin.supply.entities.Service at 0x7fee7b3acf70>,
 <src.robin.supply.entities.Service at 0x7fee7b3bb430>,
 <src.robin.supply.entities.Service at 0x7fee7b3bb5e0>,
 <src.robin.supply.entities.Service at 0x7fee7b3bb8e0>,
 <src.robin.supply.entities.Service at 0x7fee7b3bbc40>,
 <src.robin.supply.entities.Service at 0x7fee7b3bbfd0>,
 <src.robin.supply.entities.Service at 0x7fee7b3cb370>,
 <src.robin.supply.entities.Service at 0x7fee7b3cb730>,
 <src.robin.supply.entities.Service at 0x7fee7b3cba30>,
 <src.robin.supply.entities.Service at 0x7fee7b3cbe20>,
 <src.robin.supply.entities.Service at 0x7fee7b3d9130>,
 <src.robin.supply.entities.Service at 0x7fee7b3d9550>,
 <src.robin.supply.entities.Service at 0x7fee7b3d97f0>,
 <src.robin.supply.entities.Service at 0x7fee7b3d9c10>,
 <src.robin.supply.entities.Service at 0x7fee7b3d9ee0>,
 <src.robin.supply.entities.Service at 0x7fee7b3eb250>,
 <src.robin.supply.entities.Service at 0x7fee7b3eb7c0>,
 <src.robin.supply.entities.Service at 0x7fee7b3eba90>,
 <src.robin.supply.entities.Service at 0x7fee7b3ebc70>,
 <src.robin.supply.entities.Service at 0x7fee7b3ebc40>]

# Load generated data (Just to check everything is ok)

In [2]:
from src.robin.supply.entities import Supply

path_config_supply = "../data/network_data.yml"

network_supply = Supply.from_yaml(path_config_supply)

# Run kernel simulation using generated supply data

In [3]:
from src.robin.kernel.entities import Kernel

path_config_supply = "../data/network_data.yml"
path_config_demand = "../data/demand_data.yml"

kernel = Kernel(path_config_supply=path_config_supply,
                path_config_demand=path_config_demand)

services = kernel.simulate(output_path="../data/output.csv")

# Print services with tickets sold
for s in services:
    if any(seat_tickets != 0 for pair_tickets in s.seats_log.values() for seat_tickets in pair_tickets.values()):
        print(s)

Service id: 60000_71500_10111100_6:6_10
	Date of service: 2023-03-23
	Stops: ['60000', '70600', '04040', '78400', '71500']
	Line times (relative): [(0.0, 0.0), (31.2, 34.2), (49.8, 52.8), (68.4, 71.4), (87.0, 90.0)]
	Line times (absolute): [('06:06', '06:06'), ('06:37', '06:40'), ('06:55', '06:58'), ('07:14', '07:17'), ('07:33', '07:36')]
	Train Service Provider: [4, IRYO, ['41', '42']]
	Time Slot: [6:6_10, 6:06:00, 6:16:00, 6:11:00, 0:10:00]
	Rolling Stock: [41,OUIGO RollingStock 1,{1: 300, 2: 50}]
	Prices:
		('60000', '70600'): {1: 18.08, 2: 21.69, 3: 28.93}
		('60000', '04040'): {1: 21.22, 2: 25.46, 3: 33.95}
		('60000', '78400'): {1: 26.42, 2: 31.7, 3: 42.27}
		('60000', '71500'): {1: 28.07, 2: 33.68, 3: 44.9}
		('70600', '04040'): {1: 12.14, 2: 14.57, 3: 19.42}
		('70600', '78400'): {1: 17.62, 2: 21.15, 3: 28.2}
		('70600', '71500'): {1: 19.95, 2: 23.93, 3: 31.91}
		('04040', '78400'): {1: 14.78, 2: 17.73, 3: 23.64}
		('04040', '71500'): {1: 17.58, 2: 21.09, 3: 28.12}
		('78400', '71500'): {1: 12.45, 2: 14.94, 3: 19.92}
	Tickets sold per each pair (hard type): {('60000', '70600'): {1: 300, 2: 50}, ('60000', '04040'): {1: 300, 2: 50}, ('60000', '78400'): {1: 300, 2: 50}, ('60000', '71500'): {1: 300, 2: 50}, ('70600', '04040'): {1: 300, 2: 50}, ('70600', '78400'): {1: 300, 2: 50}, ('70600', '71500'): {1: 300, 2: 50}, ('04040', '78400'): {1: 0, 2: 0}, ('04040', '71500'): {1: 0, 2: 0}, ('78400', '71500'): {1: 0, 2: 0}}
	Tickets sold per each pair (seats): {('60000', '70600'): {1: 0, 2: 0, 3: 0}, ('60000', '04040'): {1: 61, 2: 239, 3: 50}, ('60000', '78400'): {1: 0, 2: 0, 3: 0}, ('60000', '71500'): {1: 0, 2: 0, 3: 0}, ('70600', '04040'): {1: 0, 2: 0, 3: 0}, ('70600', '78400'): {1: 0, 2: 0, 3: 0}, ('70600', '71500'): {1: 0, 2: 0, 3: 0}, ('04040', '78400'): {1: 0, 2: 0, 3: 0}, ('04040', '71500'): {1: 0, 2: 0, 3: 0}, ('78400', '71500'): {1: 0, 2: 0, 3: 0}}
	Tickets sold (count, seats): {1: 61, 2: 239, 3: 50}
	Tickets sold (count, hard type): {1: 300, 2: 50}
	Capacity constraints: None

Service id: 60000_71801_11101110_11:14_10
	Date of service: 2023-03-22
	Stops: ['60000', '04007', '70600', '78400', '71500', '71801']
	Line times (relative): [(0.0, 0.0), (15.6, 18.6), (34.2, 37.2), (68.4, 71.4), (87.0, 90.0), (105.6, 108.6)]
	Line times (absolute): [('11:14', '11:14'), ('11:29', '11:32'), ('11:48', '11:51'), ('12:22', '12:25'), ('12:41', '12:44'), ('12:59', '13:02')]
	Train Service Provider: [2, Renfe AVLO, ['21', '22']]
	Time Slot: [11:14_10, 11:14:00, 11:24:00, 11:19:00, 0:10:00]
	Rolling Stock: [22,AVLO RollingStock 1,{1: 350}]
	Prices:
		('60000', '04007'): {1: 13.78, 2: 16.53}
		('60000', '70600'): {1: 22.1, 2: 26.51}
		('60000', '78400'): {1: 32.29, 2: 38.74}
		('60000', '71500'): {1: 34.3, 2: 41.16}
		('60000', '71801'): {1: 38.6, 2: 46.32}
		('04007', '70600'): {1: 19.32, 2: 23.18}
		('04007', '78400'): {1: 29.56, 2: 35.47}
		('04007', '71500'): {1: 31.71, 2: 38.05}
		('04007', '71801'): {1: 35.97, 2: 43.16}
		('70600', '78400'): {1: 21.54, 2: 25.85}
		('70600', '71500'): {1: 24.38, 2: 29.25}
		('70600', '71801'): {1: 28.35, 2: 34.02}
		('78400', '71500'): {1: 15.22, 2: 18.26}
		('78400', '71801'): {1: 18.06, 2: 21.68}
		('71500', '71801'): {1: 15.4, 2: 18.48}
	Tickets sold per each pair (hard type): {('60000', '04007'): {1: 34}, ('60000', '70600'): {1: 34}, ('60000', '78400'): {1: 34}, ('60000', '71500'): {1: 34}, ('60000', '71801'): {1: 34}, ('04007', '70600'): {1: 34}, ('04007', '78400'): {1: 34}, ('04007', '71500'): {1: 34}, ('04007', '71801'): {1: 34}, ('70600', '78400'): {1: 34}, ('70600', '71500'): {1: 34}, ('70600', '71801'): {1: 34}, ('78400', '71500'): {1: 34}, ('78400', '71801'): {1: 34}, ('71500', '71801'): {1: 34}}
	Tickets sold per each pair (seats): {('60000', '04007'): {1: 0, 2: 0}, ('60000', '70600'): {1: 0, 2: 0}, ('60000', '78400'): {1: 0, 2: 0}, ('60000', '71500'): {1: 0, 2: 0}, ('60000', '71801'): {1: 29, 2: 5}, ('04007', '70600'): {1: 0, 2: 0}, ('04007', '78400'): {1: 0, 2: 0}, ('04007', '71500'): {1: 0, 2: 0}, ('04007', '71801'): {1: 0, 2: 0}, ('70600', '78400'): {1: 0, 2: 0}, ('70600', '71500'): {1: 0, 2: 0}, ('70600', '71801'): {1: 0, 2: 0}, ('78400', '71500'): {1: 0, 2: 0}, ('78400', '71801'): {1: 0, 2: 0}, ('71500', '71801'): {1: 0, 2: 0}}
	Tickets sold (count, seats): {1: 29, 2: 5}
	Tickets sold (count, hard type): {1: 34}
	Capacity constraints: None

Service id: 60000_04307_10010111_23:21_10
	Date of service: 2023-03-22
	Stops: ['60000', '04040', '71500', '71801', '04307']
	Line times (relative): [(0.0, 0.0), (46.8, 49.8), (81.0, 84.0), (99.6, 102.6), (118.2, 121.2)]
	Line times (absolute): [('23:21', '23:21'), ('00:07', '00:10'), ('00:42', '00:45'), ('01:00', '01:03'), ('01:19', '01:22')]
	Train Service Provider: [4, IRYO, ['41', '42']]
	Time Slot: [23:21_10, 23:21:00, 23:31:00, 23:26:00, 0:10:00]
	Rolling Stock: [41,OUIGO RollingStock 1,{1: 300, 2: 50}]
	Prices:
		('60000', '04040'): {1: 21.22, 2: 25.46, 3: 33.95}
		('60000', '71500'): {1: 28.07, 2: 33.68, 3: 44.9}
		('60000', '71801'): {1: 31.58, 2: 37.9, 3: 50.53}
		('60000', '04307'): {1: 35.6, 2: 42.71, 3: 56.95}
		('04040', '71500'): {1: 17.58, 2: 21.09, 3: 28.12}
		('04040', '71801'): {1: 20.52, 2: 24.62, 3: 32.83}
		('04040', '04307'): {1: 23.66, 2: 28.39, 3: 37.86}
		('71500', '71801'): {1: 12.6, 2: 15.12, 3: 20.16}
		('71500', '04307'): {1: 17.55, 2: 21.07, 3: 28.09}
		('71801', '04307'): {1: 14.35, 2: 17.22, 3: 22.96}
	Tickets sold per each pair (hard type): {('60000', '04040'): {1: 300, 2: 50}, ('60000', '71500'): {1: 300, 2: 50}, ('60000', '71801'): {1: 300, 2: 50}, ('60000', '04307'): {1: 300, 2: 50}, ('04040', '71500'): {1: 300, 2: 50}, ('04040', '71801'): {1: 300, 2: 50}, ('04040', '04307'): {1: 300, 2: 50}, ('71500', '71801'): {1: 300, 2: 50}, ('71500', '04307'): {1: 300, 2: 50}, ('71801', '04307'): {1: 0, 2: 0}}
	Tickets sold per each pair (seats): {('60000', '04040'): {1: 0, 2: 0, 3: 0}, ('60000', '71500'): {1: 0, 2: 0, 3: 0}, ('60000', '71801'): {1: 99, 2: 201, 3: 50}, ('60000', '04307'): {1: 0, 2: 0, 3: 0}, ('04040', '71500'): {1: 0, 2: 0, 3: 0}, ('04040', '71801'): {1: 0, 2: 0, 3: 0}, ('04040', '04307'): {1: 0, 2: 0, 3: 0}, ('71500', '71801'): {1: 0, 2: 0, 3: 0}, ('71500', '04307'): {1: 0, 2: 0, 3: 0}, ('71801', '04307'): {1: 0, 2: 0, 3: 0}}
	Tickets sold (count, seats): {1: 99, 2: 201, 3: 50}
	Tickets sold (count, hard type): {1: 300, 2: 50}
	Capacity constraints: None

Service id: 04007_71801_01110010_22:54_10
	Date of service: 2023-03-21
	Stops: ['04007', '70600', '04040', '71801']
	Line times (relative): [(0.0, 0.0), (15.6, 18.6), (34.2, 37.2), (84.0, 87.0)]
	Line times (absolute): [('22:54', '22:54'), ('23:09', '23:12'), ('23:28', '23:31'), ('00:18', '00:21')]
	Train Service Provider: [4, IRYO, ['41', '42']]
	Time Slot: [22:54_10, 22:54:00, 23:04:00, 22:59:00, 0:10:00]
	Rolling Stock: [41,OUIGO RollingStock 1,{1: 300, 2: 50}]
	Prices:
		('04007', '70600'): {1: 15.81, 2: 18.97, 3: 25.29}
		('04007', '04040'): {1: 18.95, 2: 22.74, 3: 30.32}
		('04007', '71801'): {1: 29.43, 2: 35.31, 3: 47.08}
		('70600', '04040'): {1: 12.14, 2: 14.57, 3: 19.42}
		('70600', '71801'): {1: 23.19, 2: 27.83, 3: 37.11}
		('04040', '71801'): {1: 20.52, 2: 24.62, 3: 32.83}
	Tickets sold per each pair (hard type): {('04007', '70600'): {1: 0, 2: 0}, ('04007', '04040'): {1: 0, 2: 0}, ('04007', '71801'): {1: 300, 2: 50}, ('70600', '04040'): {1: 0, 2: 0}, ('70600', '71801'): {1: 300, 2: 50}, ('04040', '71801'): {1: 300, 2: 50}}
	Tickets sold per each pair (seats): {('04007', '70600'): {1: 0, 2: 0, 3: 0}, ('04007', '04040'): {1: 0, 2: 0, 3: 0}, ('04007', '71801'): {1: 0, 2: 0, 3: 0}, ('70600', '04040'): {1: 0, 2: 0, 3: 0}, ('70600', '71801'): {1: 0, 2: 0, 3: 0}, ('04040', '71801'): {1: 85, 2: 215, 3: 50}}
	Tickets sold (count, seats): {1: 85, 2: 215, 3: 50}
	Tickets sold (count, hard type): {1: 300, 2: 50}
	Capacity constraints: None

Service id: 60000_04307_10000011_9:4_10
	Date of service: 2023-03-22
	Stops: ['60000', '71801', '04307']
	Line times (relative): [(0.0, 0.0), (93.6, 96.6), (112.2, 115.2)]
	Line times (absolute): [('09:04', '09:04'), ('10:37', '10:40'), ('10:56', '10:59')]
	Train Service Provider: [2, Renfe AVLO, ['21', '22']]
	Time Slot: [9:4_10, 9:04:00, 9:14:00, 9:09:00, 0:10:00]
	Rolling Stock: [21,AVLO RollingStock 1,{1: 300}]
	Prices:
		('60000', '71801'): {1: 38.6, 2: 46.32}
		('60000', '04307'): {1: 43.51, 2: 52.21}
		('71801', '04307'): {1: 17.54, 2: 21.04}
	Tickets sold per each pair (hard type): {('60000', '71801'): {1: 5}, ('60000', '04307'): {1: 5}, ('71801', '04307'): {1: 0}}
	Tickets sold per each pair (seats): {('60000', '71801'): {1: 4, 2: 1}, ('60000', '04307'): {1: 0, 2: 0}, ('71801', '04307'): {1: 0, 2: 0}}
	Tickets sold (count, seats): {1: 4, 2: 1}
	Tickets sold (count, hard type): {1: 5}
	Capacity constraints: None

Service id: 60000_71801_10111010_0:19_10
	Date of service: 2023-03-24
	Stops: ['60000', '70600', '04040', '78400', '71801']
	Line times (relative): [(0.0, 0.0), (31.2, 34.2), (49.8, 52.8), (68.4, 71.4), (102.6, 105.6)]
	Line times (absolute): [('00:19', '00:19'), ('00:50', '00:53'), ('01:08', '01:11'), ('01:27', '01:30'), ('02:01', '02:04')]
	Train Service Provider: [4, IRYO, ['41', '42']]
	Time Slot: [0:19_10, 0:19:00, 0:29:00, 0:24:00, 0:10:00]
	Rolling Stock: [42,OUIGO RollingStock 1,{1: 350, 2: 50}]
	Prices:
		('60000', '70600'): {1: 18.08, 2: 21.69, 3: 28.93}
		('60000', '04040'): {1: 21.22, 2: 25.46, 3: 33.95}
		('60000', '78400'): {1: 26.42, 2: 31.7, 3: 42.27}
		('60000', '71801'): {1: 31.58, 2: 37.9, 3: 50.53}
		('70600', '04040'): {1: 12.14, 2: 14.57, 3: 19.42}
		('70600', '78400'): {1: 17.62, 2: 21.15, 3: 28.2}
		('70600', '71801'): {1: 23.19, 2: 27.83, 3: 37.11}
		('04040', '78400'): {1: 14.78, 2: 17.73, 3: 23.64}
		('04040', '71801'): {1: 20.52, 2: 24.62, 3: 32.83}
		('78400', '71801'): {1: 14.78, 2: 17.73, 3: 23.65}
	Tickets sold per each pair (hard type): {('60000', '70600'): {1: 350, 2: 50}, ('60000', '04040'): {1: 350, 2: 50}, ('60000', '78400'): {1: 520, 2: 50}, ('60000', '71801'): {1: 520, 2: 50}, ('70600', '04040'): {1: 350, 2: 50}, ('70600', '78400'): {1: 520, 2: 50}, ('70600', '71801'): {1: 520, 2: 50}, ('04040', '78400'): {1: 217, 2: 50}, ('04040', '71801'): {1: 217, 2: 50}, ('78400', '71801'): {1: 217, 2: 50}}
	Tickets sold per each pair (seats): {('60000', '70600'): {1: 0, 2: 0, 3: 0}, ('60000', '04040'): {1: 0, 2: 303, 3: 0}, ('60000', '78400'): {1: 0, 2: 0, 3: 0}, ('60000', '71801'): {1: 0, 2: 47, 3: 50}, ('70600', '04040'): {1: 0, 2: 0, 3: 0}, ('70600', '78400'): {1: 0, 2: 0, 3: 0}, ('70600', '71801'): {1: 0, 2: 0, 3: 0}, ('04040', '78400'): {1: 0, 2: 0, 3: 0}, ('04040', '71801'): {1: 0, 2: 170, 3: 0}, ('78400', '71801'): {1: 0, 2: 0, 3: 0}}
	Tickets sold (count, seats): {1: 0, 2: 520, 3: 50}
	Tickets sold (count, hard type): {1: 520, 2: 50}
	Capacity constraints: None

Service id: 60000_71801_11011110_21:27_10
	Date of service: 2023-03-21
	Stops: ['60000', '04007', '04040', '78400', '71500', '71801']
	Line times (relative): [(0.0, 0.0), (15.6, 18.6), (49.8, 52.8), (68.4, 71.4), (87.0, 90.0), (105.6, 108.6)]
	Line times (absolute): [('21:27', '21:27'), ('21:42', '21:45'), ('22:16', '22:19'), ('22:35', '22:38'), ('22:54', '22:57'), ('23:12', '23:15')]
	Train Service Provider: [2, Renfe AVLO, ['21', '22']]
	Time Slot: [21:27_10, 21:27:00, 21:37:00, 21:32:00, 0:10:00]
	Rolling Stock: [22,AVLO RollingStock 1,{1: 350}]
	Prices:
		('60000', '04007'): {1: 13.78, 2: 16.53}
		('60000', '04040'): {1: 25.93, 2: 31.12}
		('60000', '78400'): {1: 32.29, 2: 38.74}
		('60000', '71500'): {1: 34.3, 2: 41.16}
		('60000', '71801'): {1: 38.6, 2: 46.32}
		('04007', '04040'): {1: 23.16, 2: 27.79}
		('04007', '78400'): {1: 29.56, 2: 35.47}
		('04007', '71500'): {1: 31.71, 2: 38.05}
		('04007', '71801'): {1: 35.97, 2: 43.16}
		('04040', '78400'): {1: 18.06, 2: 21.67}
		('04040', '71500'): {1: 21.48, 2: 25.78}
		('04040', '71801'): {1: 25.08, 2: 30.1}
		('78400', '71500'): {1: 15.22, 2: 18.26}
		('78400', '71801'): {1: 18.06, 2: 21.68}
		('71500', '71801'): {1: 15.4, 2: 18.48}
	Tickets sold per each pair (hard type): {('60000', '04007'): {1: 108}, ('60000', '04040'): {1: 108}, ('60000', '78400'): {1: 353}, ('60000', '71500'): {1: 353}, ('60000', '71801'): {1: 353}, ('04007', '04040'): {1: 108}, ('04007', '78400'): {1: 353}, ('04007', '71500'): {1: 353}, ('04007', '71801'): {1: 353}, ('04040', '78400'): {1: 350}, ('04040', '71500'): {1: 350}, ('04040', '71801'): {1: 350}, ('78400', '71500'): {1: 350}, ('78400', '71801'): {1: 350}, ('71500', '71801'): {1: 350}}
	Tickets sold per each pair (seats): {('60000', '04007'): {1: 0, 2: 0}, ('60000', '04040'): {1: 1, 2: 2}, ('60000', '78400'): {1: 0, 2: 0}, ('60000', '71500'): {1: 0, 2: 0}, ('60000', '71801'): {1: 104, 2: 1}, ('04007', '04040'): {1: 0, 2: 0}, ('04007', '78400'): {1: 0, 2: 0}, ('04007', '71500'): {1: 0, 2: 0}, ('04007', '71801'): {1: 0, 2: 0}, ('04040', '78400'): {1: 0, 2: 0}, ('04040', '71500'): {1: 0, 2: 0}, ('04040', '71801'): {1: 117, 2: 128}, ('78400', '71500'): {1: 0, 2: 0}, ('78400', '71801'): {1: 0, 2: 0}, ('71500', '71801'): {1: 0, 2: 0}}
	Tickets sold (count, seats): {1: 222, 2: 131}
	Tickets sold (count, hard type): {1: 353}
	Capacity constraints: None

Service id: 60000_04307_11001111_8:48_10
	Date of service: 2023-03-23
	Stops: ['60000', '04007', '78400', '71500', '71801', '04307']
	Line times (relative): [(0.0, 0.0), (15.6, 18.6), (65.4, 68.4), (84.0, 87.0), (102.6, 105.6), (121.2, 124.2)]
	Line times (absolute): [('08:48', '08:48'), ('09:03', '09:06'), ('09:53', '09:56'), ('10:12', '10:15'), ('10:30', '10:33'), ('10:49', '10:52')]
	Train Service Provider: [3, OUIGO, ['31', '32']]
	Time Slot: [8:48_10, 8:48:00, 8:58:00, 8:53:00, 0:10:00]
	Rolling Stock: [32,OUIGO RollingStock 1,{2: 450}]
	Prices:
		('60000', '04007'): {3: 20.04}
		('60000', '78400'): {3: 46.96}
		('60000', '71500'): {3: 49.89}
		('60000', '71801'): {3: 56.15}
		('60000', '04307'): {3: 63.28}
		('04007', '78400'): {3: 42.99}
		('04007', '71500'): {3: 46.12}
		('04007', '71801'): {3: 52.32}
		('04007', '04307'): {3: 59.3}
		('78400', '71500'): {3: 22.14}
		('78400', '71801'): {3: 26.27}
		('78400', '04307'): {3: 32.33}
		('71500', '71801'): {3: 22.39}
		('71500', '04307'): {3: 31.21}
		('71801', '04307'): {3: 25.51}
	Tickets sold per each pair (hard type): {('60000', '04007'): {2: 450}, ('60000', '78400'): {2: 450}, ('60000', '71500'): {2: 450}, ('60000', '71801'): {2: 450}, ('60000', '04307'): {2: 450}, ('04007', '78400'): {2: 450}, ('04007', '71500'): {2: 450}, ('04007', '71801'): {2: 450}, ('04007', '04307'): {2: 450}, ('78400', '71500'): {2: 450}, ('78400', '71801'): {2: 450}, ('78400', '04307'): {2: 450}, ('71500', '71801'): {2: 450}, ('71500', '04307'): {2: 450}, ('71801', '04307'): {2: 0}}
	Tickets sold per each pair (seats): {('60000', '04007'): {3: 0}, ('60000', '78400'): {3: 0}, ('60000', '71500'): {3: 0}, ('60000', '71801'): {3: 450}, ('60000', '04307'): {3: 0}, ('04007', '78400'): {3: 0}, ('04007', '71500'): {3: 0}, ('04007', '71801'): {3: 0}, ('04007', '04307'): {3: 0}, ('78400', '71500'): {3: 0}, ('78400', '71801'): {3: 0}, ('78400', '04307'): {3: 0}, ('71500', '71801'): {3: 0}, ('71500', '04307'): {3: 0}, ('71801', '04307'): {3: 0}}
	Tickets sold (count, seats): {3: 450}
	Tickets sold (count, hard type): {2: 450}
	Capacity constraints: None

Service id: 60000_04307_10011001_18:35_10
	Date of service: 2023-03-22
	Stops: ['60000', '04040', '78400', '04307']
	Line times (relative): [(0.0, 0.0), (46.8, 49.8), (65.4, 68.4), (115.2, 118.2)]
	Line times (absolute): [('18:35', '18:35'), ('19:21', '19:24'), ('19:40', '19:43'), ('20:30', '20:33')]
	Train Service Provider: [2, Renfe AVLO, ['21', '22']]
	Time Slot: [18:35_10, 18:35:00, 18:45:00, 18:40:00, 0:10:00]
	Rolling Stock: [21,AVLO RollingStock 1,{1: 300}]
	Prices:
		('60000', '04040'): {1: 25.93, 2: 31.12}
		('60000', '78400'): {1: 32.29, 2: 38.74}
		('60000', '04307'): {1: 43.51, 2: 52.21}
		('04040', '78400'): {1: 18.06, 2: 21.67}
		('04040', '04307'): {1: 28.92, 2: 34.7}
		('78400', '04307'): {1: 22.23, 2: 26.67}
	Tickets sold per each pair (hard type): {('60000', '04040'): {1: 300}, ('60000', '78400'): {1: 300}, ('60000', '04307'): {1: 300}, ('04040', '78400'): {1: 0}, ('04040', '04307'): {1: 0}, ('78400', '04307'): {1: 0}}
	Tickets sold per each pair (seats): {('60000', '04040'): {1: 127, 2: 173}, ('60000', '78400'): {1: 0, 2: 0}, ('60000', '04307'): {1: 0, 2: 0}, ('04040', '78400'): {1: 0, 2: 0}, ('04040', '04307'): {1: 0, 2: 0}, ('78400', '04307'): {1: 0, 2: 0}}
	Tickets sold (count, seats): {1: 127, 2: 173}
	Tickets sold (count, hard type): {1: 300}
	Capacity constraints: None

Service id: 60000_71801_10110110_1:52_10
	Date of service: 2023-03-26
	Stops: ['60000', '70600', '04040', '71500', '71801']
	Line times (relative): [(0.0, 0.0), (31.2, 34.2), (49.8, 52.8), (84.0, 87.0), (102.6, 105.6)]
	Line times (absolute): [('01:52', '01:52'), ('02:23', '02:26'), ('02:41', '02:44'), ('03:16', '03:19'), ('03:34', '03:37')]
	Train Service Provider: [3, OUIGO, ['31', '32']]
	Time Slot: [1:52_10, 1:52:00, 2:02:00, 1:57:00, 0:10:00]
	Rolling Stock: [31,OUIGO RollingStock 1,{1: 300, 2: 50}]
	Prices:
		('60000', '70600'): {1: 20.09, 2: 24.1, 3: 32.14}
		('60000', '04040'): {1: 23.58, 2: 28.29, 3: 37.72}
		('60000', '71500'): {1: 31.18, 2: 37.42, 3: 49.89}
		('60000', '71801'): {1: 35.09, 2: 42.11, 3: 56.15}
		('70600', '04040'): {1: 13.49, 2: 16.19, 3: 21.58}
		('70600', '71500'): {1: 22.16, 2: 26.59, 3: 35.46}
		('70600', '71801'): {1: 25.77, 2: 30.92, 3: 41.23}
		('04040', '71500'): {1: 19.53, 2: 23.43, 3: 31.25}
		('04040', '71801'): {1: 22.8, 2: 27.36, 3: 36.48}
		('71500', '71801'): {1: 14.0, 2: 16.8, 3: 22.39}
	Tickets sold per each pair (hard type): {('60000', '70600'): {1: 247, 2: 50}, ('60000', '04040'): {1: 247, 2: 50}, ('60000', '71500'): {1: 457, 2: 50}, ('60000', '71801'): {1: 457, 2: 50}, ('70600', '04040'): {1: 247, 2: 50}, ('70600', '71500'): {1: 457, 2: 50}, ('70600', '71801'): {1: 457, 2: 50}, ('04040', '71500'): {1: 210, 2: 50}, ('04040', '71801'): {1: 210, 2: 50}, ('71500', '71801'): {1: 210, 2: 50}}
	Tickets sold per each pair (seats): {('60000', '70600'): {1: 0, 2: 0, 3: 0}, ('60000', '04040'): {1: 0, 2: 247, 3: 0}, ('60000', '71500'): {1: 0, 2: 0, 3: 0}, ('60000', '71801'): {1: 0, 2: 0, 3: 50}, ('70600', '04040'): {1: 0, 2: 0, 3: 0}, ('70600', '71500'): {1: 0, 2: 0, 3: 0}, ('70600', '71801'): {1: 0, 2: 0, 3: 0}, ('04040', '71500'): {1: 0, 2: 0, 3: 0}, ('04040', '71801'): {1: 0, 2: 210, 3: 0}, ('71500', '71801'): {1: 0, 2: 0, 3: 0}}
	Tickets sold (count, seats): {1: 0, 2: 457, 3: 50}
	Tickets sold (count, hard type): {1: 457, 2: 50}
	Capacity constraints: None

Service id: 60000_04307_11000011_6:15_10
	Date of service: 2023-03-22
	Stops: ['60000', '04007', '71801', '04307']
	Line times (relative): [(0.0, 0.0), (15.6, 18.6), (96.6, 99.6), (115.2, 118.2)]
	Line times (absolute): [('06:15', '06:15'), ('06:30', '06:33'), ('07:51', '07:54'), ('08:10', '08:13')]
	Train Service Provider: [3, OUIGO, ['31', '32']]
	Time Slot: [6:15_10, 6:15:00, 6:25:00, 6:20:00, 0:10:00]
	Rolling Stock: [31,OUIGO RollingStock 1,{1: 300, 2: 50}]
	Prices:
		('60000', '04007'): {1: 12.52, 2: 15.03, 3: 20.04}
		('60000', '71801'): {1: 35.09, 2: 42.11, 3: 56.15}
		('60000', '04307'): {1: 39.55, 2: 47.46, 3: 63.28}
		('04007', '71801'): {1: 32.7, 2: 39.24, 3: 52.32}
		('04007', '04307'): {1: 37.06, 2: 44.47, 3: 59.3}
		('71801', '04307'): {1: 15.94, 2: 19.13, 3: 25.51}
	Tickets sold per each pair (hard type): {('60000', '04007'): {1: 104, 2: 50}, ('60000', '71801'): {1: 104, 2: 50}, ('60000', '04307'): {1: 104, 2: 50}, ('04007', '71801'): {1: 104, 2: 50}, ('04007', '04307'): {1: 104, 2: 50}, ('71801', '04307'): {1: 0, 2: 0}}
	Tickets sold per each pair (seats): {('60000', '04007'): {1: 0, 2: 0, 3: 0}, ('60000', '71801'): {1: 98, 2: 6, 3: 50}, ('60000', '04307'): {1: 0, 2: 0, 3: 0}, ('04007', '71801'): {1: 0, 2: 0, 3: 0}, ('04007', '04307'): {1: 0, 2: 0, 3: 0}, ('71801', '04307'): {1: 0, 2: 0, 3: 0}}

In [1]:
from src.data_generator.service_generator import ServiceGenerator
import pandas as pd

# Lista de servicios
file_name = "../data/network_data.yml"
path_config = "../src/data_generator/config.yml"
n_services = 100
seed = 1

services_list = ServiceGenerator().generate(file_name = file_name,
                            path_config = path_config,
                            n_services = n_services,
                            seed = seed)

# Creamos un DataFrame con los atributos relevantes
services_df = pd.DataFrame({
    'duration': [service.schedule[-1][1] - service.schedule[0][0] for service in services_list], # Duracin del servicio
    'num_stops': [len(service.schedule) for service in services_list], # Nmero de paradas
    'price': [service.prices[('origin', 'destination')]['asiento1'] for service in services_list], # Precio del billete para un tipo de asiento
})

# Normalizamos los valores en el DataFrame
services_df = (services_df - services_df.min()) / (services_df.max() - services_df.min())

KeyError: ('origen', 'destino')

# Autoencoder

In [ ]:
from keras.layers import Input, Dense
from keras.models import Model

# Define el nmero de caractersticas de entrada
input_dim = 3

# Define el nmero de neuronas en la capa oculta
encoding_dim = 2

# Define la entrada
input_data = Input(shape=(input_dim,))

# Define la capa codificadora
encoded = Dense(encoding_dim, activation='relu')(input_data)

# Define la capa decodificadora
decoded = Dense(input_dim, activation='sigmoid')(encoded)

# Define el modelo del autoencoder
autoencoder = Model(input_data, decoded)

# Define el modelo del codificador
encoder = Model(input_data, encoded)

# Define el modelo del decodificador
encoded_input = Input(shape=(encoding_dim,))
decoder_layer = autoencoder.layers[-1]
decoder = Model(encoded_input, decoder_layer(encoded_input))